@font-face {
  font-family: "Hotliner";
  src: url("../fonts/hotliner-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lagoon beach";
  src: url("../fonts/lagoon-beach-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lagoon beach";
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(#121212, #212938, #304468, #ab38bc, #121212);
  color: #4fc4fa;
}

.page-wrapper {
  width: 100%;
  padding: 0 16px;
  max-width: 1058px;
  margin: 0 auto;
}

.text-wrapper {
  max-width: 680px;
}

.page-header {
  padding: 20px 0;
  margin-bottom: 40px;
}
.page-header__title {
  margin: 0;
  position: relative;
  width: fit-content;
  font-size: 36px;
  line-height: 110%;
}
.page-header__subtitle {
  position: absolute;
  right: 0;
  bottom: -8px;
  transform: translateX(60%) rotate(-13deg);
  font-family: "Hotliner";
  color: #de13de;
  font-size: 16px;
  letter-spacing: -0.1em;
}

.text-link {
  color: #de13de;
  transition: 0.2s;
}
@media (min-width: 1024px) {
  .text-link:hover {
    opacity: 0.8;
  }
}

.button {
  background: transparent;
  border: 2px solid #4fc4fa;
  color: #4fc4fa;
  border-radius: 16px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.2s;
}
@media (min-width: 1024px) {
  .button:hover {
    color: #000d36;
    background-color: #4fc4fa;
  }
}

.game-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.canvas-block {
  display: flex;
  justify-content: flex-start;
  flex-basis: 70%;
  flex-shrink: 1;
}
.canvas-block__canvas {
  width: 100%;
  height: auto;
  max-height: 100vh;
  aspect-ratio: 1;
  border: 3px solid #4fc4fa;
  margin: 40px;
  max-width: 650px;
  margin: 0 auto;
}