$blue: #426ff5;
$purple: rgb(222, 19, 222);
$green: #5eff00;

$background-dark-blue: #000d36;

$lines-light: #4fc4fa;



$tablet-width: 1023px;

$main-font: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   