.game-over-popup.hidden(data-game-over)
  span.game-over-popup__title GAME OVER
  form(action data-submit-score-form).submit-score-form
    span.submit-score-form__title Save your score
    .submit-score-form__wrapper
      input(type="text" name="name" placeholder="your name").input
      button(type="submit").button save
      input(type="text" name="score").visually-hidden
  span.game-over-popup__error-message Something went wrong
  span.game-over-popup__success-message Your score is saved
  button.button(data-retry='') Retry
  