.game-over-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  background: linear-gradient(#121212, #212938, #304468);
  border: 3px solid $purple;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &.error {
    & .game-over-popup__error-message {
      display: block;
    }

    & .submit-score-form {
      display: none;
    }
  }

  &.success {
    & .game-over-popup__success-message {
      display: block;
    }

    & .submit-score-form {
      display: none;
    }
  }

  &.hidden {
    display: none;
  }

  &__title {
    display: block;
    font-size: 48px;
    font-family: "Press Start 2P", cursive;
    text-align: center;
  }

  &__error-message {
    display: none;
  }

  &__success-message {
    display: none;
  }
}