extends ../global/layout

block variables

block content
  .page-wrapper
    section.games-list
      h2
        | List of Games
        ul.games-list__list
          li
            a.games-list__link(href='life.html')
              img.games-list__cover(src='img/covers/life.png' alt="field for Conway's Game of life")
              .games-list__text-wrapper
                span Conway&apos;s Game of Life
                p
                  | The Game of Life, also known simply as Life, is a cellular automaton devised by the British mathematician John Horton Conway in 1970
          li
            a.games-list__link(href='snake.html')
              img.games-list__cover(src='img/covers/snake.png' alt='field for snake game')
              .games-list__text-wrapper
                span Snake
                p
                  | A computer game with roots dating back to the 1970s. The most well-known version is the one by Nokia, which first appeared on the Nokia 6110 feature phone.
