extends ../global/layout

block variables

block content
  .page-wrapper
    .text-wrapper
      h1.heading-1 Conway&apos;s Game of Life
      p This is a cellular automaton devised by the British mathematician John Horton Conway in 1970. It is a zero-player game meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration and observing how it evolves. It is Turing complete and can simulate a universal constructor or any other Turing machine.
      p
        | Learn more on 
        a.text-link(href='https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life' target='_blank') Wiki
        | .
    .game-wrapper
      .canvas-block
        canvas.canvas-block__canvas(data-canvas='')
      .controls
        p
          | Number of generations: 
          span(data-count='') 0
        .controls__buttons
          button.button.button--start(data-start='') Start
          button.button.button--reset(data-reset='') Reset

block scripts
  script(src='/js/life.js' type='module')