extends ../global/layout

block variables

block content
  .page-wrapper
    h1.heading-1 Best scores
    table.score-table
      tbody 
        tr
          td.score-table__cell nagibator228
          td.score-table__cell 420
        tr
          td.score-table__cell uranus_in_flame
          td.score-table__cell 146
        tr
          td.score-table__cell kopatel2004
          td.score-table__cell 69