header.page-header
  .page-wrapper
    .page-header__wrapper
      a.page-header__title(href='/')
        | MAXINFLAME 
        span.page-header__subtitle Games
      nav.page-header__nav
        a.page-header__link(href='life.html') Conway&apos;s Game of Life
        a.page-header__link(href='snake.html') Snake