@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
  font-family: 'Hotliner';
  src: url("../fonts/hotliner-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lagoon beach';
  src: url("../fonts/lagoon-beach-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}