.heading-1 {
  display: block;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0.67em;
  font-weight: bold;
}

.heading-2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 0.83em;
  font-weight: bold;
}

.heading-3 {
  display: block;
  font-size: 1.17em;
  margin-top: 0px;
  margin-bottom: 0.5em;
  font-weight: bold;
}