.canvas-block {
  display: flex;
  justify-content: flex-start;
  flex-basis: 70%;
  flex-shrink: 1;

  &__canvas {
    width: 100%;
    height: auto;
    max-height: 100vh;
    outline: 3px solid $lines-light;
    max-width: 650px;
  }
}