.canvas-block {
  display: flex;
  justify-content: flex-start;
  flex-basis: 70%;
  flex-shrink: 1;
  position: relative;

  &--snake {
    max-width: 650px;

    @media (max-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  &__canvas {
    width: 100%;
    height: auto;
    max-height: 100vh;
    outline: 3px solid $lines-light;
    max-width: 650px;
  }
}